.main{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 0px 50px;
}
.main .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  z-index: 2;
}
.main .title h1{
  font-size: 75px;
  color: var(--pink);
}
.main .title .btn-space{
  display: flex;
  gap: 45px;
}
.main .title .btn-space button{
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 18px;
  border: 2px solid var(--pink);
  color: var(--pink);
  font-size: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}
.main .title .btn-space button:hover{
  background-color: var(--pink);
  color: var(--gray);
}
.main .title .btn-space .btn-main-2{
  width: 350px;
  background-color: var(--pink);
  color: var(--gray);
}
.main .title .btn-space .btn-main-2:hover{
  background-color: var(--gray);
  color: var(--pink);
}
.main iframe{
  position: absolute;
  width: 100vw;
  right: -30vw;
  height: 100vh;
  bottom: 0px;
}

@media (max-width: 1350px) {
.main .title h1{
  font-size: 60px;
}
.main .title .btn-space{
  gap: 40px;
}
.main .title .btn-space button{
  width: 185px;
  height: 45px;
}
.main .title .btn-space .btn-main-2{
  width: 325px;
}
.main iframe{
  right: -28vw;
}

}
@media (max-width: 1070px) {
.main{
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}
.main .title{
  align-items: center;
}
.main .title h1{
  text-align: center;
}
.main iframe{
  right: -10vw;
  height: 94vh;
  bottom: -25vh;
  width: 120vw;
}
}

@media (max-width: 800px) {
.nav-bar .menu{
  display: none;
}
.nav-bar .lateral{
  gap: 25px;
}
}
@media (max-width: 730px) {
.main .title h1{
  font-size: 50px;
}
.main .title .btn-space{
  gap: 30px;
}
.main .title .btn-space button{
  width: 165px;
  height: 43px;
}
.main .title .btn-space .btn-main-2{
  width: 305px;
}
.main iframe{
  bottom: -20vh;
}
}
@media (max-width: 650px) {
.main .title h1{
  font-size: 40px;
}
.main .title .btn-space{
  gap: 25px;
}
.main .title .btn-space button{
  width: 140px;
  height: 43px;
  font-size: 18px;
}
.main .title .btn-space .btn-main-2{
  width: 280px;
}
.main iframe{
  bottom: -19vh;
}
}
@media (max-width: 470px) {
  .main .title{
    gap: 15px
  }
  .main .title h1{
    font-size: 32px;
  }
  .main .title .btn-space{
    gap: 15px;
  }
  .main .title .btn-space button{
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
  .main .title .btn-space .btn-main-2{
    width: 240px;
  }
  .nav-bar img{
    left: 12px;
  }
  .nav-bar .lateral{
    right: 18px;
  }
  .nav-bar .lateral span{
    display: block;
  }
  .nav-bar .lateral a{
    display: none;
  }
  .main iframe{
    bottom: -12vh;
    width: 100vw;
    right: 0;
    height: 85vh;
  }
}
@media (max-width: 380px) {
  .main .title h1{
    font-size: 27px;
  }
  .main .title .btn-space{
    gap: 10px;
  }
  .main .title .btn-space button{
    width: 80px;
    height: 34px;
    font-size: 15px;
  }
  .main .title .btn-space .btn-main-2{
    width: 210px;
  }
}