.main{
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .main .title{
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .main .title h1{
    font-size: 75px;
    color: var(--pink);
  }
  .main .title button{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 18px;
    border: 2px solid var(--pink);
    color: var(--pink);
    font-size: 20px;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .main .title button:hover{
    background-color: var(--pink);
    color: var(--gray);
  }