@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root{
  --white: #fff;
  --gray: #f4f7fb;
  --pink: #ff5474;
  --blue: #3831ac;
  --black: #212529;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--gray);
  color: var(--black);
  font-family: sans-serif;
  width: 100vw;
  overflow: hidden;
}

.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 4px 30px;
  background-color: var(--white);
  height: 50px;
  z-index: 3;
}
.nav-bar img{
    position: absolute;
    left: 30px;
    cursor: pointer;
}
.nav-bar .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.nav-bar .menu a{
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}
.nav-bar .menu a:hover{
  color: var(--blue);
}
.nav-bar .lateral{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    right: 40px;
}
.nav-bar .lateral a{
  transition: 0.2s ease;
  cursor: pointer;
}
.nav-bar .lateral a:hover{
  color: var(--blue);
}
